/* Use this stylesheet to place @imports at the top of the stack */
@font-face { font-family: 'URWDINSemiCond'; src: url('../fonts/semicond/URWDINSemiCond-Medium.eot'); src: url('../fonts/semicond/URWDINSemiCond-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/semicond/URWDINSemiCond-Medium.woff') format('woff'), url('../fonts/semicond/URWDINSemiCond-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'URWDINSemiCond'; src: url('../fonts/semicond/URWDINSemiCond-Demi.eot'); src: url('../fonts/semicond/URWDINSemiCond-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/semicond/URWDINSemiCond-Demi.woff') format('woff'), url('../fonts/semicond/URWDINSemiCond-Demi.ttf') format('truetype'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'URWDINSemiCond'; src: url('../fonts/semicond/URWDINSemiCond-Light.eot'); src: url('../fonts/semicond/URWDINSemiCond-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/semicond/URWDINSemiCond-Light.woff') format('woff'), url('../fonts/semicond/URWDINSemiCond-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Rift'; src: url('../fonts/rift/Rift-Light.eot'); src: url('../fonts/rift/Rift-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/rift/Rift-Light.woff') format('woff'), url('../fonts/rift/Rift-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Rift'; src: url('../fonts/rift/Rift-Demi.eot'); src: url('../fonts/rift/Rift-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/rift/Rift-Demi.woff') format('woff'), url('../fonts/rift/Rift-Demi.ttf') format('truetype'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Trajan Pro 3'; src: url('../fonts/trajan/TrajanPro3-Regular.eot'); src: url('../fonts/trajan/TrajanPro3-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/trajan/TrajanPro3-Regular.woff') format('woff'), url('../fonts/trajan/TrajanPro3-Regular.ttf') format('truetype'); font-weight: 400; font-style: normal; }

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?hlt9oh');
    src:  url('../fonts/icomoon/icomoon.eot?hlt9oh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?hlt9oh') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?hlt9oh') format('woff'),
    url('../fonts/icomoon/icomoon.svg?hlt9oh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="rcf-"], [class*=" rcf-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rcf-close-button:before {
    content: "\e900";
}
.rcf-arrow:before {
    content: "\e901";
}
.rcf-list-icon:before {
    content: "\e902";
}
.rcf-bull-icon:before {
    content: "\e903";
}
.rcf-play:before {
    content: "\e904";
}
.rcf-close:before {
    content: "\e905";
}
