/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (max-width: 1280px) {
    .dropdown-menu-wrap.sales {
        max-width: 1020px;
        max-width: -webkit-calc(100% - 220px);
        max-width: calc(100% - 220px);
    }
    .long-tab-title {
        font-size: 30px;
    }
    .long-tab-sub-title {
        font-size: 13px;
    }
}
@media all and (max-width: 1200px) {
    .bull-table {
        table-layout: inherit;
    }
    .sidebar {
        width: 200px;
    }
    .bull-img-wrap {
        margin-right: 18px;
    }
    .sire-box {
        margin-bottom: 6px;
    }
    .sire-box,
    .dob-box {
        width: 100%;
    }
    .our-family-img {
        margin-top: 15px;
    }
        .our-family-name {
            top: 40px;
        }
        .our-family-name.bob {
            left: 20px;
        }
        .our-family-name.joe {
            right: 20px;
        }
}
@media all and (max-width: 1024px) {
    .bull-table-box {
        overflow-y: hidden;
        overflow-x: auto;
    }
        .bull-table {
            table-layout: fixed;
        }
        .bull-table.fixed {
            display: table;
        }
            .bull-table tbody tr:hover td {
                background-color: #ffffff;
            }

    #header {
        padding-top: 20px;
        height: 96px;
    }
        .logo a {
            font-size: 26px;
        }
            .logo a span {
                font-size: 14px;
            }
        .main-nav {
            margin-left: 270px;
        }
            .main-nav > ul {
                padding-top: 4px;
                margin-right: -14px;
            }
                .main-nav > ul > li > a {
                    padding-left: 14px;
                    padding-right: 14px;
                    font-size: 18px;
                }
    .dropdown-menu-wrap,
    .dropdown-menu-wrap.sales {
        top: 67px;
        width: 100%;
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
        max-width: 100%;
        right: 50%;
        -moz-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
        -webkit-transform: translate(50%, 0);
        -o-transform: translate(50%, 0);
        transform: translate(50%, 0);
    }
    .dropdown-menu .left-box,
    .dropdown-menu .right-box {
        padding-left: 24px;
        padding-right: 24px;
    }
    .sales .right-box {
        padding: 0;
    }
    .dropdown-menu .left-box {
        width: 300px;
    }
    .dropdown-coll-list > li:nth-child(2):nth-last-child(1) {
        padding-left: 20px;
    }
    .main-nav > ul > li > a.show + .dropdown-menu-wrap {
        top: 47px;
    }

.section-hero {
    min-height: 800px;
    padding-top: 80px;
    padding-bottom: 220px;
}
    .hero-table {
        height: 500px;
    }
    .next-action-box {
        width: 260px;
    }
    .show-next-action .hero-table .hero-cell {
        padding-top: 80px;
        padding-right: 40px;
    }
    .show-next-action .hero-table .hero-cell .hero-title {
        font-size: 94px;
    }
    .show-next-action .hero-table .hero-cell .hero-title .small {
        font-size: 17px;
    }
    .show-next-action .hero-table .hero-cell .hero-line {
        font-size: 17px;
    }
    a.long-tab-box {
        min-height: 180px;
    }
    a.long-tab-box:hover,
    a.long-tab-box:focus {
        min-height: 200px;
    }
        .long-tab-info {
            margin-bottom: 15px;
            padding-bottom: 10px;
            font-size: 16px;
        }
        .long-tab-info:after {
            width: 32px;
        }
        .long-tab-title {
            min-height: 42px;
            font-size: 17px;
        }
        .long-tab-title span {
            padding-top: 0;
            font-size: 54px;
            line-height: 40px;
        }
        .long-tab-sub-title {
            font-size: 13px;
        }
        a.long-tab-box .learn-more,
        a.long-tab-box .learn-more {
            bottom: -16px;
            font-size: 12px;
        }
        a.long-tab-box:hover .learn-more,
        a.long-tab-box:focus .learn-more {
            bottom: 16px;
        }
            a.learn-more .fa, .learn-more .fa {
                font-size: 15px;
                line-height: 12px;
            }
    .section-title {
        font-size: 32px;
    }
    .section-desc {
        font-size: 15px;
    }
        .built-number {
            margin-bottom: 14px;
        }
        .built-desc {
            font-size: 16px;
        }
    .bulls-list {
        max-width: 500px;
        margin: 0 auto;
    }
    .sort-box {
        margin-bottom: 40px;
    }
        .sort-list > li {
            margin-left: 40px;
        }
    .bull-img-wrap {
        float: none;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .sire-box {
        width: 54.5%;
        margin-bottom: 0;
    }
    .dob-box {
        width: 45.5%;
    }
    .form-reset-box {
        margin-left: -16px;
        padding-top: 20px;
        display: block !important;
    }
    #footer .section-title {
        font-size: 30px;
    }
        .footer-bottom-box {
            background-position: center top;
        }
    .footer-title-box {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .footer-coll-link {
        width: 500px;
    }
    a.view-more, .view-more {
        font-size: 15px;
    }
    .a.view-more .fa, .view-more .fa {
        font-size: 18px;
        line-height: 15px;
    }
    #footer .footer-coll-box .section-desc {
        margin-bottom: 14px;
    }
    .banner-title {
        font-size: 65px;
    }
    .section-testimonials .content {
        font-size: 16px;
    }
    .testimonial-box .content {
        font-size: 32px;
    }
    .testimonials-list > li {
        margin-bottom: 100px;
    }
    .graph-title,
    .box-title {
        margin-bottom: 14px;
        font-size: 18px;
    }
    .section-ready-buy .left-box {
        padding-left: 20px;
    }
    .percentages-list > li {
        width: 49%;
    }
    .percentages-list > li:first-child,
    .percentages-list > li:last-child {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .circle {
        display: inline-block;
        margin-bottom: 4px;
    }
    .our-family-name {
        font-size: 20px;
    }
    .history-year-box,
    .history-list > li:nth-child(even) .history-year-box {
        float: none;
        margin-bottom: 4px;
        padding: 0;
        padding-top: 4px;
    }
    .history-box .content {
        margin-bottom: 14px;
    }
    .section-history {
        padding-bottom: 96px;
    }
    #header.dark + #main-content {
        padding-top: 100px;
    }
    .section-our-family {
        padding-top: 60px;
    }
    .bull-img {
        float: none;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
        .bull-img img {
            width: 100%;
            height: auto;
        }
        .bull-right-box {
            max-width: 500px;
        }
        .bull-desc-wrap {
            overflow-x: auto;
        }
            .section-bull-detail .bull-desc-table {
                min-width: 860px;
            }
            .bull-middle-box .left-box,
            .bull-middle-box .right-box {
                float: none;
                width: 100%;
            }
            .bull-middle-box .left-box {
                margin-bottom: 40px;
            }
                .bull-gallery-img-wrap {
                    max-width: 90px;
                }
}
@media all and (max-width: 767px) {
    .container,
    .section-our-family .container,
    .section-testimonials .container,
    .section-percentages .container,
    .section-bull-detail .container,
    .section-content .container,
    .section-graphs .container,
    .section-ready-buy .container,
    .section-banner.small .container,
    .section-banner.private-treaty .container {
        max-width: 375px;
    }
    #header {
        height: 62px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #header .container {
        position: initial;
    }
        .logo {
            position: relative;
            z-index: 99999;
            float: none;
            max-width: 177px;
            margin: 0 auto;
        }
            .logo a {
                font-size: 16.5px;
            }
                .logo a span {
                    font-size: 8px;
                }
        .desktop {
            display: none !important;
        }
        .mobile-menu-wrap,
        .mobile-menu-toggle {
            display: block;
        }
    .banner-title {
        width: auto;
    }
    .section-hero {
        padding-top: 60px;
        padding-bottom: 320px;
        min-height: 810px;
    }
        .hero-table {
            height: 428px;
            padding: 72px 0 80px;
        }
            .hero-cell {
                vertical-align: top;
            }
                .hero-title {
                    margin-bottom: 4px;
                    font-size: 49px;
                }
                    .hero-title .big {
                        padding-left: 6px;
                    }
                    .hero-title .small {
                        margin-bottom: 4px;
                        font-size: 13px;
                    }
                .hero-line {
                    padding: 0 8px;
                    font-size: 13px;
                }
                .hero-line:before,
                .hero-line:after {
                    width: 78px;
                }
                .hero-line:before {
                    left: -78px;
                }
                .hero-line:after {
                    right: -78px;
                }
    .long-tabs {
        display: block;
    }
        .long-tabs > *:nth-child(even) a.long-tab-box{
            border-right: none;
        }
        .long-tabs > *:nth-child(odd) {
            clear: both;
        }
        .long-tabs-cell {
            float: left;
            display: block;
            width: 50%;
        }
            a.long-tab-box {
                min-height: 160px;
                background-color: #000000;
                border-right: 1px solid #2D2D2D;
                border-bottom: 1px solid #2D2D2D;
            }
            a.long-tab-box:hover,
            a.long-tab-box:focus {
                min-height: 160px;
                background-color: rgba(255, 255, 255, .1);
            }
                .long-tab-info {
                    margin-bottom: 13px;
                    padding-bottom: 7px;
                    font-size: 14px;
                }
                .long-tab-info:after {
                    width: 29px;
                }
                .long-tab-title {
                    min-height: 36px;
                    font-size: 15px;
                }
                    .long-tab-title span {
                        padding-top: 0;
                        font-size: 50px;
                        line-height: 36px;
                    }
                .long-tab-sub-title {
                    font-size: 11px;
                    line-height: 1.2;
                }
                .learn-more {
                    display: none;
                }

    .show-next-action .hero-table .hero-cell {
        padding: 0 0 40px 0;
        text-align: center;
        vertical-align: top;
    }
        .show-next-action .hero-table .hero-cell .hero-box {
            text-align: center;
        }
            .show-next-action .hero-table .hero-cell .hero-title {
                margin-bottom: 4px;
                font-size: 49px;
            }
            .show-next-action .hero-table .hero-cell .hero-title .big {
                padding-left: 6px;
            }
            .show-next-action .hero-table .hero-cell .hero-title .small {
                margin-bottom: 4px;
                font-size: 13px;
            }
            .show-next-action .hero-table .hero-cell .hero-line {
                padding: 0 8px;
                font-size: 13px;
            }
            .show-next-action .hero-table .hero-cell .hero-line:before,
            .show-next-action .hero-table .hero-cell .hero-line:after {
                content: '';
                width: 78px;
            }
            .show-next-action .hero-table .hero-cell .hero-line:before {
                left: -78px;
            }
            .show-next-action .hero-table .hero-cell .hero-line:after {
                right: -78px;
            }

    .next-action-cell {
        display: none;
    }
    .show-next-action .next-action-cell {
        display: table-footer-group;
    }
        .next-action-box {
            width: 240px;
            margin: 0 auto;
            padding: 36px 20px 36px;
        }
            .clock-down-list {
                margin-bottom: 34px;
            }
                .next-action-title {
                    font-size: 22px;
                }
                .next-action-date {
                    font-size: 12px;
                }
                .time-box .value {
                    font-size: 54px;
                }
                .time-box .name {
                    font-size: 16px;
                }
    .section-built {
        padding-top: 45px;
        padding-bottom: 45px;
    }
        .section-title {
            font-size: 25px;
        }
        .section-desc {
            font-size: 14px;
        }
        .built-list {
            margin-bottom: -40px;
        }
            .built-list > li {
                margin-bottom: 40px;
                width: 100%;
            }
                .built-number {
                    width: 34px;
                    height: 34px;
                    margin-bottom: 10px;
                    font-size: 20px;
                    line-height: 34px;
                }
                .built-desc {
                    font-size: 15px;
                }
    a.btn,
    .btn {
        padding: 11px 10px 9px;
        min-width: 174px;
        font-size: 10px;
    }
    .section-banner {
        padding-top: 60px;
        background-image: url(../img/banner_mob_bg.jpg);
    }
    .section-banner:not(.show-next-action) .banner-table {
        height: 170px;
    }
        .desktop-img {
            display: none;
        }
        .mob-img {
            display: block;
        }
        .banner-table {
            padding-top: 0;
        }
            .section-banner .next-action-box {
                max-width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
                .section-banner .next-action-title {
                    padding-bottom: 3px;
                    font-size: 13px;
                }
                    .section-banner .clock-down-list {
                        margin-bottom: 3px;
                    }
                        .section-banner .clock-down-list > li:after {
                            top: 0;
                            right: 0;
                            font-size: 39px;
                        }
                            .section-banner .time-box .value {
                                margin-bottom: 6px;
                                font-size: 39px;
                            }
                            .section-banner .time-box .name {
                                padding-right: 10px;
                                font-size: 11px;
                            }
        .banner-links-wrap {
            overflow: hidden;
            padding-bottom: 0;
        }
            .banner-links-wrap > * {
                float: left;
                width: 50%;
                border-top: 1px solid #ffffff;
            }
            .banner-links-wrap > *:nth-child(odd) {
                clear: both;
                border-right: 1px solid #ffffff;
            }
                a.banner-link,
                .banner-link {
                    font-size: 14px;
                    padding: 15px 10px 16px;
                    border-color: rgba(255, 255, 255, .25) !important;
                    color: rgba(255, 255, 255, .62);
                    opacity: 1;
                }
                a.banner-link:hover,
                a.banner-link:focus,
                .banner-link:hover,
                .banner-link:focus {
                    color: rgba(255, 255, 255, 1);
                }
                a.banner-link:after,
                .banner-link:after {
                    content: none;
                }
    .section-bulls {
        padding-top: 31px;
        padding-bottom: 51px;
    }
        .section-bulls .container {
            max-width: 375px;
        }
        .tabs-nav-box {
            margin-bottom: 18px;
        }
            .mob-jump {
                display: block;
            }
            .tabs-nav-box .container {
                max-width: 100%;
                padding: 0;
            }
                .tabs-nav-name {
                    padding-top: 5px;
                    padding-left: 20px;
                    font-size: 10px;
                }
                .tabs-nav-list {
                    display: block;
                    max-width: 100%;
                    max-width: -webkit-calc(100% + 4px);
                    max-width: calc(100% + 4px);
                    margin: 7px -2px 0;
                }
                    .tabs-nav-list > li {
                        width: 50%;
                        /*margin: 0 -1px;*/
                    }
                        a.tab-btn,
                        .tab-btn {
                            display: block;
                            min-width: inherit;
                            width: 100%;
                            font-size: 10px;
                            padding-bottom: 2px;
                        }
            .sidebar {
                display: none;
                float: none;
                margin: 10px auto 20px;
            }
            .sort-box {
                display: none;
            }
                .bull-desc,
                .bull-box,
                .content-box,
                .tab-box {
                    overflow: inherit;
                }
                    .bulls-list > li:not(:last-child) {
                        margin-bottom: 76px;
                    }
                    .bulls-list > li:not(:last-child):after {
                        position: absolute;
                        content: '';
                        left: 50%;
                        bottom: -41px;
                        width: 771px;
                        height: 1px;
                        background-color: #000000;
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        transform: translateX(-50%);
                    }
                        .bull-img-wrap {
                            float: none;
                            max-width: none;
                            width: 100%;
                            width: -webkit-calc(100% + 40px);
                            width: calc(100% + 40px);
                            margin: 0 -20px 26px;
                        }
                        .lot-tattoo-title {
                            font-size: 32px;
                        }
                        .bull-info-box {
                            margin-bottom: 20px;
                        }
                        .sire-dob-box {
                            margin-bottom: 24px;
                        }
                            .sire-box {
                                width: 54%;
                            }
                            .dob-box {
                                width: 46%;
                            }
                            .bull-info.small {
                                letter-spacing: .04em;
                            }
                            .sire-box span,
                            .dob-box span {
                                letter-spacing: .03em;
                            }
                        .lot-tattoo-box {
                            margin-right: 12px;
                        }
                        .lot-tattoo-btn-box {
                            /*margin-left: 12px;*/
                            margin-right: -14px;
                        }
                            a.btn.small, .btn.small {
                                padding: 11px 25px 9px;
                                font-size: 10px;
                            }
                            a.btn.small.arrow:after, .btn.small.arrow:after {
                                font-size: 14px;
                            }
                            a.btn.bull, .btn.bull {
                                padding: 3px 16px 3px;
                                font-size: 12px;
                            }
    .sort-box.table-tab {
        display: block;
    }
        .table-tab .sort-list .right {
            display: none;
        }
        .sort-list > li a.form-reset, .sort-list > li .form-reset {
            margin-left: 16px;
        }
        .table-video-box {
            left: -153px;
        }
    .popup-wrap {
        max-width: 500px;
    }
        .popup-inner {
            padding: 50px 30px;
        }
            .popup-title {
                margin-bottom: 20px;
                font-size: 28px;
            }
            .popup-desc {
                font-size: 16px;
            }
            .popup-desc > *:not(:last-child) {
                margin-bottom: 16px;
            }
        .popup .rcf-close {
            top: 15px;
            right: 15px;
        }
    #footer {}
        #footer .container {
            max-width: 375px;
        }
            .footer-top-box {
                padding-top: 46px;
                padding-bottom: 50px;
            }
                #footer .section-title {
                    margin-bottom: 8px;
                    font-size: 23px;
                }
                #footer .section-desc {
                    margin-bottom: 26px;
                    max-width: 320px;
                    font-size: 14px;
                    letter-spacing: .015em;
                    line-height: 1.4;
                }
            .footer-bottom-box {
                padding-bottom: 20px;
                background-color: #000000;
                background-image: none !important;
            }
                #footer .footer-coll-box {
                    background-color: #ffffff;
                }
            .footer-coll-box {
                padding: 0;
            }
                .footer-coll-box .left-box,
                .footer-coll-box .right-box {
                    padding: 27px 0;
                }
                    .footer-coll-box .left-box .box,
                    .footer-coll-box .right-box .box {
                        padding: 0 5px;
                    }
                .footer-coll-box .left-box {
                    border-right: 1px solid #c4c4c4;
                }
                #footer .footer-coll-box .section-desc {
                    display: none;
                }
                #footer  .footer-coll-box .section-title {
                    font-size: 17px;
                    max-width: 135px;
                    line-height: 1.2;
                    letter-spacing: .02em;
                }
                .footer-coll-box .right-box .box {
                    padding-right: 3px;
                }
                a.view-more,
                .view-more {
                    font-size: 10px;
                }
                    .a.view-more .fa, .view-more .fa {
                        font-size: 12px;
                    }
            .footer-link-box {
                padding-top: 21px;
                padding-bottom: 34px;
            }
                .contact-box {
                    margin-bottom: 14px;
                }
                    a.contact-box-title,
                    .contact-box-title {
                        margin-bottom: 1px;
                        font-size: 11px;
                    }
                    a.contact-link,
                    .contact-link {
                        padding: 3px 5px 3px;
                        font-size: 17px;
                        line-height: 1.4;
                        letter-spacing: .01em;
                        word-spacing: .3em;
                    }
                .power-by,
                .footer-coll-link,
                .footer-title-box {
                    display: none;
                }
                    .footer-contact-box {
                        float: none;
                        width: 100%;
                        text-align: center;
                    }
                    .copyright {
                        float: none;
                        max-width: 224px;
                        margin: 0 auto;
                        font-size: 8px;
                        text-transform: uppercase;
                        letter-spacing: .06em;
                        line-height: 3;
                        text-align: center;
                    }
                        .copyright span {
                            display: none;
                        }
                        .copyright a {
                            font-size: 8px;
                        }
.small .banner-table {
    padding-top: 10px;
}
    .banner-title {
        font-size: 40px;
    }
.section-testimonials {
    padding-bottom: 80px;
}
    .section-testimonials .content {
        margin-bottom: 80px;
        font-size: 14px;
    }
    .testimonial-box {
        padding-top: 50px;
    }
        .testimonial-box .content {
            margin-bottom: 16px;
            font-size: 20px;
        }
    .testimonial-author {
        font-size: 13px;
    }
        .testimonial-author span {
            margin-bottom: 6px;
        }
    .testimonials-list > li {
        margin-bottom: 60px;
    }
    .section-bulls + .section-ready-buy {
        margin-top: 0;
    }
    .section-ready-buy .left-box,
    .section-ready-buy .right-box {
        display: block;
        width: 100%;
    }
    .section-ready-buy .left-box:after {
        content: none;
    }
    .section-ready-buy .container {
        overflow: visible;
    }
    .section-ready-buy .left-box:before,
    .section-ready-buy .right-box:before {
        position: absolute;
        content: '';
        z-index: 5;
        top: 0;
        left: -216px;
        width: -webkit-calc(100% + 432px);
        width: calc(100% + 432px);
        height: 100%;
        background-color: #000000;
    }
    .section-ready-buy .right-box:before {
        background-color: #1d1d1d;
    }
    .percentages-list > li {
        width: 100%;
    }
    .percentage-more-box .left-box {
        margin-bottom: 60px;
    }
    .percentage-more-box .left-box,
    .percentage-more-box .right-box {
        float: none;
        width: 100%;
    }
    .weight-box .value {
        font-size: 120px;
        line-height: 100px;
    }
    .weight-box .units {
        font-size: 30px;
    }
    .graphs-list > li {
        margin-bottom: 60px;
    }
    .percentages-list {
        margin-bottom: 22px;
    }
    .graph-img-wrap {
        margin-bottom: 10px;
    }
    .circle {
        margin-left: 12px;
        padding-left: 20px;
        font-size: 13px;
    }
    .circle:after {
        width: 13px;
        height: 13px;
    }
    .section-graphs + .section-testimonials {
        padding-top: 70px;
    }
    .content {
        font-size: 16px;
    }
    .content h1, .content .h1style {
        font-size: 26px;
    }
    .content h2, .content .h2style {
        font-size: 24px;
    }
    .content h3, .content .h3style {
        font-size: 20px;
    }
    .content h4, .content .h4style {
        font-size: 19px;
    }
    .content h5, .content .h5style {
        font-size: 18px;
    }
    .content h6, .content .h6style {
        font-size: 17px;
    }
    .info-title {
        font-size: 16px;
    }
    .info-sub-title {

    }
    .info-list > li:not(:last-child) {
        margin-bottom: 32px;
    }
    .content-table tr td,
    .content-table tr th {
        font-size: 15px;
    }
    .content-table tr th span {
        font-size: 11px;
    }
    .section-content {
        padding-bottom: 60px;
    }
    .content-table-wrap {
        overflow-x: auto;
    }
    .content-table {
        table-layout: fixed;
        width: 540px;
    }
    .info-box .left-box,
    .info-box .right-box {
        float: none;
        width: 100%;
    }
    .info-box .left-box {
        margin-bottom: 4px;
        text-align: left;
    }
    .info-title {
        max-width: 100%;
    }
    .our-family-img {
        margin-top: 35px;
    }
        .our-family-img img {
            max-width: 1000px;
            left: 49.2%;
        }
        .our-family-name {
            top: 5px;
            font-size: 16px;
        }
        .our-family-name.bob {
            left: 5px;
        }
        .our-family-name.joe {
            right: 5px;
        }
    a.btn-next-section,
    .btn-next-section {
        width: 65px;
        height: 40px;
    }
    a.btn-next-section:after,
    .btn-next-section:after {
        width: 65px;
        border-bottom-width: 40px;
        border-left-width: 12px;
        border-right-width: 12px;
    }
        a.btn-next-section .rcf-down,
        .btn-next-section .rcf-down {
            font-size: 16px;
            line-height: 40px;
        }
    #header.dark + #main-content {
        padding-top: 60px;
    }
    .section-our-family {
        padding-top: 40px;
    }
    .section-our-family .banner-title {
        margin-bottom: 14px;
    }
    .section-history:after {
        content: none;
    }
        .history-box {
            width: 100%;
            padding: 0;
            text-align: left;
        }
        .history-list > li:nth-child(even) .history-box {
            padding: 0;
        }
        .history-list > li:not(:last-child) {
            margin-bottom: 50px;
        }
        .history-list >li:not(:first-child) {
            margin-top: 0;
        }
    .section-bull-detail {
        padding-top: 20px;

    }
        .section-bull-detail .banner-title {
            margin-bottom: 16px;
        }
            .bull-top-box {
                overflow: visible;
            }
            .bull-img {
                max-width: none;
                width: 100%;
                width: -webkit-calc(100% + 40px);
                width: calc(100% + 40px);
                margin: 0 -20px 29px;
            }
            .section-bull-detail .bull-info-box {
                margin-bottom: 18px;
            }
            .section-bull-detail .sire-box {
                width: 54.2%;
            }
            .section-bull-detail .dob-box {
                width: 45.8%;
            }
            .section-bull-detail .sire-dob-box {
                margin-bottom: 29px;
            }
            .bull-detail-list {
                margin-bottom: 26px;
            }
            .bull-desc-wrap {
                margin-bottom: 31px;
            }
    .bull-middle {
        margin-bottom: 29px;
    }
            .bull-middle-box .box-title {
                 margin-bottom: 12px;
             }
            .bull-gallery-list {
                margin: 0 -9px;
            }
                .bull-gallery-list > li {
                    width: 32%;
                    padding: 0 9px;

                }
                    .bull-gallery-img-wrap {
                        max-width: 100%;
                    }
    .info-box .content,
    .content {
        font-size: 14px;
        line-height: 1.5;
    }
    .history-year {
        font-weight: 300;
    }
        .section-bull-detail .content {
            margin-bottom: 51px;
        }
            .bull-bottom-wrap .left-box,
            .bull-bottom-wrap .right-box {
                display: block;
                width: 100%;
                padding: 0;
                border: none;
            }
            .bull-bottom-wrap .left-box {
                margin-bottom: 28px;
            }
            .sale-detail-text,
            .bull-bottom-wrap a.ready-buy-link,
            .bull-bottom-wrap .ready-buy-link,
            .bull-bottom-wrap .dropdown-info-box {
                font-size: 14px;
            }
                .bull-bottom-wrap .right-box a.btn,
                .bull-bottom-wrap .right-box .btn {
                    min-width: 154px;
                    margin-bottom: 33px;
                }
                .sale-detail-text {
                    margin-bottom: 3px;
                }

}