@{
  ViewBag.Title = "Home";
}
<section class="section section-hero">
  <div class="container">
    <div class="hero-table">
      <div class="hero-cell">
        <div class="hero-box">
          <h1 class="hero-title">
            <span class="small">4 Year Guarantee on feet &amp; semen</span>
            <span class="big">Built to Work</span>
          </h1>
          <span class="hero-line">On Angus Cows</span>
        </div>
      </div>
      <div class="next-action-cell">
        <div class="next-action-box">
          <h3 class="next-action-title">Next auction</h3>
          <span class="next-action-date">February 6, 2018</span>
          <ul class="clock-down-list">
            <li>
              <div class="time-box">
                <span class="value">12</span>
                <span class="name">Days</span>
              </div>
            </li>
            <li>
              <div class="time-box">
                <span class="value">15</span>
                <span class="name">Hrs</span>
              </div>
            </li>
            <li>
              <div class="time-box">
                <span class="value">05</span>
                <span class="name">Min</span>
              </div>
            </li>
            <li>
              <div class="time-box">
                <span class="value">16</span>
                <span class="name">Sec</span>
              </div>
            </li>
          </ul>
          <a href="/broken" class="btn"><span>Event Details</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="long-tabs">
    <div class="long-tabs-cell">
      <a href="/broken" class="long-tab-box">
        <span class="long-tab-info">Calving Ease</span>
        <span class="long-tab-title">
          <span>92%</span>
        </span>
        <span class="long-tab-sub-title">Double-Digit Calving Ease</span>
        <span class="learn-more">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
      </a>
    </div>
    <div class="long-tabs-cell">
      <a href="/broken" class="long-tab-box">
        <span class="long-tab-info">Disposition</span>
        <span class="long-tab-title">We Stand Behind Every Bull We Sell</span>
        <span class="learn-more">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
      </a>
    </div>
    <div class="long-tabs-cell">
      <a href="/broken" class="long-tab-box">
        <span class="long-tab-info">Carcass Merit</span>
        <span class="long-tab-title">
          <span>2X</span>
        </span>
        <span class="long-tab-sub-title">Breed Average Marbling</span>
        <span class="learn-more">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
      </a>
    </div>
    <div class="long-tabs-cell">
      <a href="/broken" class="long-tab-box">
        <span class="long-tab-info">Hybrid Vigor</span>
        <span class="long-tab-title">
          <span>25%</span>
        </span>
        <span class="long-tab-sub-title">Increase in Lifetime Cow Productivity</span>
        <span class="learn-more">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
      </a>
    </div>
  </div>
  <img class="bg-img" src="~/images/hero_bg.jpg" alt="hero">
</section>

<section class="section section-built">
  <div class="container">
    <h2 class="section-title">Built to Work<sup>&trade;</sup> on Angus Cows</h2>
    <div class="section-desc">
      <p>Why River Creek Farm’s Bulls will maximize your Angus Based cow herd’s profit:</p>
    </div>
    <ul class="built-list">
      <li>
        <div class="built-box">
          <span class="built-number">1</span>
          <div class="built-desc">
            <p>Proven Calving Ease, Customer Validated for over 30 years</p>
          </div>
        </div>
      </li>
      <li>
        <div class="built-box">
          <span class="built-number">2</span>
          <div class="built-desc">
            <p>Increase Weaning Weights with Hybrid Vigor</p>
          </div>
        </div>
      </li>
      <li>
        <div class="built-box">
          <span class="built-number">3</span>
          <div class="built-desc">
            <p>Enhance Disposition, Carcass & Maternal Traits</p>
          </div>
        </div>
      </li>
      <li>
        <div class="built-box">
          <span class="built-number">4</span>
          <div class="built-desc">
            <p>Maintain a Moderate Frames Size While Increasing Thickness</p>
          </div>
        </div>
      </li>
      <li>
        <div class="built-box">
          <span class="built-number">5</span>
          <div class="built-desc">
            <p>Higher Profit Potential*, Based on Economically Relevant Traits $API & $TI</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>